<div id="<%= dom_id jogging_time %>">
  <p>
    <strong>Date:</strong>
    <%= jogging_time.date %>
  </p>

  <p>
    <strong>Distanse:</strong>
    <%= jogging_time.distanse %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= jogging_time.time %>
  </p>

</div>
