<h1>Editing jogging time</h1>

<%= render "form", jogging_time: @jogging_time %>

<br>

<div>
  <%= link_to "Show this jogging time", @jogging_time %> |
  <%= link_to "Back to jogging times", jogging_times_path %>
</div>
